<div class="main-content">
  <div class="calcu-main-box">
    <div class="display-sec">
      <div class="input-sec">
        <input type="text" class="screen-calc" value="0" />
      </div>
    </div>
    <div class="button-sec">
      <div class="icons-sec">
        <span class="material-symbols-outlined mat-icon"> history </span>
        <span class="material-symbols-outlined mat-icon"> backspace </span>
      </div>
      <div class="number-sec">
        <div class="each-number-sec">
          <div class="number-display">C</div>
          <div class="number-display">()</div>
          <div class="number-display">%</div>
          <div class="number-display">/</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display">7</div>
          <div class="number-display">8</div>
          <div class="number-display">9</div>
          <div class="number-display">X</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display">4</div>
          <div class="number-display">5</div>
          <div class="number-display">6</div>
          <div class="number-display">-</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display">1</div>
          <div class="number-display">2</div>
          <div class="number-display">3</div>
          <div class="number-display">+</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display">+/-</div>
          <div class="number-display">0</div>
          <div class="number-display">.</div>
          <div class="number-display">=</div>
        </div>
      </div>
    </div>
  </div>
</div>
