<div class="main-content">
  <div class="calcu-main-box">
    <div class="display-sec">
      <div class="input-display-sec">
        {{ this.firstValue + operator + tempValue }}
        <!-- {{ firstValue == null ? firstValue : inputValue }} -->
      </div>
      <div class="input-sec">
        <input type="text" class="screen-calc" [(ngModel)]="inputValue" />
      </div>
    </div>
    <div class="button-sec" *ngIf="show == false">
      <div class="icons-sec">
        <span
          class="material-symbols-outlined mat-icon"
          (click)="historyDetails()"
        >
          history
        </span>
        <span
          class="material-symbols-outlined mat-icon"
          (click)="backBtnClicked()"
        >
          backspace
        </span>
      </div>
      <div class="number-sec">
        <div class="each-number-sec">
          <div class="number-display" (click)="clearAll()">C</div>
          <div class="number-display">()</div>
          <div class="number-display">%</div>
          <div class="number-display" (click)="getOperator('/')">/</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display" (click)="getNumber('7')">7</div>
          <div class="number-display" (click)="getNumber('8')">8</div>
          <div class="number-display" (click)="getNumber('9')">9</div>
          <div class="number-display" (click)="getOperator('*')">X</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display" (click)="getNumber('4')">4</div>
          <div class="number-display" (click)="getNumber('5')">5</div>
          <div class="number-display" (click)="getNumber('6')">6</div>
          <div class="number-display" (click)="getOperator('-')">-</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display" (click)="getNumber('1')">1</div>
          <div class="number-display" (click)="getNumber('2')">2</div>
          <div class="number-display" (click)="getNumber('3')">3</div>
          <div class="number-display" (click)="getOperator('+')">+</div>
        </div>
        <div class="each-number-sec">
          <div class="number-display">+/-</div>
          <div class="number-display" (click)="getNumber('0')">0</div>
          <div class="number-display" (click)="getNumber('.')">.</div>
          <div class="number-display" (click)="evaluate()">=</div>
        </div>
      </div>
    </div>
    <div class="history-sec" *ngIf="show">
      <div class="history-display-sec">
        <h1 style="text-align: center; color: white">History</h1>
        <!-- @for (item of historyArray; track item) {
        <span>item.first+" "+item.ope+" "+item.second+"="+item.res</span>
        } -->
        <!-- @for (item of items; track item.id) { -->
        <span style="color: white" *ngFor="let item of historyArray">
          {{ item.first + " " + item.ope + " " + item.second + "=" + item.res }}
        </span>
        <!-- } -->
      </div>
      <div class="histoy-btn-sec">
        <button mat-raised-button color="primary" (click)="clearHistory()">
          Clear
        </button>
        <button mat-raised-button color="primary" (click)="cancelHistory()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
